%blockquote
.alert
  %h4.alert-heading
    Warning! :
  %p
    Tankdrop is just a site that helps sellers and buyers discuss and meet.
    Tankdrop will not be responsible for what bad stuff may transpire during your transaction.

- if current_user
  .row
    %h2.span6
      Welcome 
      = current_user.name
.row
  .span2= link_to("Start Selling!", upload_products_path, class: "btn btn-large btn-success")

%hr
// modal-gallery is the modal dialog used for the image gallery
#modal-gallery.modal.modal-gallery.hide.fade
  .modal-header
    %a.close{data: {dismiss: "modal"}}
      &times;
    %h3.modal-title Some Modal Title Here
  .modal-body
    .modal-image
  .modal-footer
    %a.btn.btn-primary.modal-next 
      Next
      %i.icon-arrow-right.icon-white
    %a.btn.btn-info.modal-prev
      %i.icon-arrow-left.icon-white
      Previous
    %a.btn.btn-success.modal-play.modal-slideshow{data: {slideshow: "5000"}}
      %i.icon-play.icon-white
      Slideshow
    %a.btn.modal-download{target: "_blank"}
      %i.icon-download
      Download


= javascript_include_tag 'drag_drop_upload/load-image.min.js'
= javascript_include_tag 'drag_drop_upload/bootstrap-image-gallery'

#gallery{data: {toggle: "modal-gallery", target:"#modal-gallery"}}
  %ul.thumbnails
    - @products.each do |product|
      %li.span3
        .thumbnail
          = link_to(image_tag(product.product_image.url(:squared)), product.product_image.url, :title => "", rel: "gallery")
          .caption
            %h4
              %i.icon-tag
              = product.price
              Gold
            = link_to product, class: "btn" do 
              %i.icon-comment
              = "Comments (#{product.comments.count})"
            %hr
            %h4 Seller Details
            - if product.user
              %i.icon-facebook-sign
              = link_to product.user.name, product.user.facebook_url
            - else
              %i.icon-user 
              = product.seller_contact
