.row
  %h2.span9
    - if current_user
      Welcome
      = current_user.name
    - else
      %blockquote
        %em ... The only good demon is a dead one, I say.
        %em By the way, did you happen to find anything in that cave you'd like to sell?"
        %small Gheed

.row
  .span4
    = link_to("Start Selling!", upload_products_path, class: "btn btn-large btn-success")
    - if @current_user
      = link_to("My Auctions (#{@current_user.products.count})", store_path(@current_user), class: "btn btn-large")
%hr

.row
  .span6
    .alert
      %h4.alert-heading
        Be careful :
      %p
        Tankdrop is just a site that helps sellers and buyers discuss and meet.
        Tankdrop will not be responsible for anything nasty that may happen during your transactions.

  .span6
    .alert.alert-success
      %h4.alert-heading
        New features (Aug 14, 2012):
      %ul
        %li PHP and USD currency
        %li Member store pages
= render 'products'
