.well
  .row
    %h3.span6
      - if current_user
        Welcome 
        = current_user.name
      - else
        %blockquote
          %em ... The only good demon is a dead one, I say.
          %em By the way, did you happen to find anything in that cave you'd like to sell?"
          %small Gheed

  .row
    .span2= link_to("Start Selling!", upload_products_path, class: "btn btn-large btn-success")

%hr

.row
  .span7
    .alert
      %h4.alert-heading
        Be careful :
      %p
        Tankdrop is just a site that helps sellers and buyers discuss and meet.
        Tankdrop will not be responsible for anything nasty that may happen during your transactions.

.row
  .span12

    = javascript_include_tag 'drag_drop_upload/load-image.min.js'
    = javascript_include_tag 'drag_drop_upload/bootstrap-image-gallery'

    .row
      .span8
        = will_paginate(@products, :renderer => BootstrapPagination::Rails)

    #gallery{data: {toggle: "modal-gallery", target:"#modal-gallery"}}
      %ul.thumbnails
        - @products.each do |product|
          %li.span3
            .thumbnail
              = link_to(image_tag(product.product_image.url(:squared)), product, :title => product.title)
              .progress.progress-warning.progress-striped.active
                .bar{:style => "width:#{product.progress}%"}
              .div
                .caption
                  %p
                    %h4= display_title(product)
                  %p
                    %i.icon-tag
                    = product.price
                    Gold
                  %p
                    - if product.user
                      %i.icon-facebook-sign
                      = link_to product.user.name, product.user.facebook_url
                    - else
                      %i.icon-user 
                      = product.seller_contact
                  = link_to product, class: "btn" do 
                    %i.icon-comment
                    = "Comments (#{product.comments.count})"
    .form-actions
      = will_paginate(@products, :renderer => BootstrapPagination::Rails)
