.span7
  %h2
    = @product.title

  %p
    = image_tag(@product.product_image) if @product.product_image

  %h3
    - if @product.user
      %i.icon-facebook-sign
      = link_to @product.user.name, @product.user.facebook_url
    - else
      %i.icon-user 
      = @product.seller_contact

  %h3
    %i.icon-tag
    = " #{@product.price}"
    Gold

  %h3
    %i.icon-resize-full
    = link_to "Full Image", @product.product_image.url

  .control-group
    .controls
      .input-prepend
        %span.add-on.icon-share 
        %input.span4.uneditable-input.input-xlarge{value: "#{product_url(@product)}"}


  %hr
  - @product.comments.each do |comment|
    %blockquote
      %p
        = comment.comment
      %small
        = display_commenter(comment) 
        = display_bid(comment)
        - if comment.user and @product.user and comment.user == @product.user
          %span.label.label-info
            I'm the seller

  = form_for @comment, url: comment_product_path(@product) do |f|
    - unless current_user
      .control-group
        = f.label :name, :for => :comment_visitor_name, :class => 'control-label'
        .controls
          = f.text_field :visitor_name
    .control-group
      = f.label :comment, :class => 'control-label'
      .controls
        = f.text_area :comment, :rows => 3
    - unless(current_user and current_user == @product.user)
      .control-group
        = f.label :bid_amount, :class => 'control-label'
        .controls
          = f.text_field :bid_amount, :pattern=>"\\d+", :title => "Please use absolute values, no comas or periods"
    = f.submit "Comment"



